* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #2975fa;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.mainPage {
    background-color: black;
    width: 100%;
    height: 50vh;
}
footer {
    display: flex;
    flex-direction: column;
}
.socialLinks {
    border: 1px solid #256ce8;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}
.menuContainer {
    border: 1px solid #256ce8;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
}
.copyright {
    text-align: center;
    border: 1px solid #256ce8;
}
.typeName {
    width: 250px;
}
header {
    font-weight: bold;
    text-align: center;
}
.listText {
    text-align: center;
    line-height: 25px;
}
.image {
    width: 30px;
    height: 30px;
}
@media (max-width: 800px) {
    .menuContainer {
        flex-wrap: wrap;
    }
}
@media (max-width: 540px) {
    .listText {
        line-height: 40px;
        font-size: 20px;
    }
    header {
        font-size: 25px;
    }
}